
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Our Hotel-Main{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load string_extras %}
    <style>
        body { background-color: #f8f9fa;
        }
        .navbar { margin-bottom: 20px;
        }

    </style>
{% block extra_css %} {% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css">
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-grow bg-grow shadow-sm py-3">
        <div class="container">
            <a class="navbar-brand fw-bold text-primary " href="{% url 'portal:index' %}">🏠 <span class="text-primary">Hotel</span><span class=text-warning> "Goldene Uhr"></span> <span class="fi fi-ua"></span> <span class="fi fi-de"></span></a>
            {% if user.is_authenticated %}
                <h1 class="navbar-brand fw-bold text-center text-warning"><span class="text-primary">Hallo</span>, <span class="text-warning">{{user.username|split_username:1}}</span></h1>
            {% else %}
                <form action="{% url 'accounts:login' %}" method="post" class="d-line">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-warning btn-sm ms-2">
                        'Einloggen / Увійти'
                    </button>
                </form>
            {% endif %}

            {% if user.is_authenticated %}
                <form action="{% url 'accounts:logout' %}" method="post" class="d-line">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary btn-sm ms-2">
                        'Ausloggen / Вийти'
                    </button>
                </form>
            {% endif %}
            {% if user.is_staff %}
                <a class="nav-link text-danger fw-bold ms-auto"><a href="{% url 'accounts:new_user' %}">Antrage</a>
                <a class="nav-link text-danger fw-bold ms-auto"><a href="{% url 'accounts:confirmed_users' %}">Condfirmed</a>
            {% endif %}

            <div class="navbar-nav ms-auto">
                <a class="nav-link fw-semibold text-warning" href="{% url 'portal:about' %}">Über uns / О нас👨‍👨‍👧‍👦 </a>

            </div>

        </div>
    </nav>
<main class="container">
    <div class="pb-2 mb-2">
        {% block page_header %}{% endblock page_header %}
    <div class="container">

        {% block content %}
        {% endblock %}
    </div>



</body>
