{% extends 'portal/base.html' %}
{% block title %}Главная - Новости{% endblock %}

{% block content %}
{% load string_extras %}
{% load django_bootstrap5 %}
{% load humanize %}


<div class="container mt-4">
    <div class="text-center mb-5" >
        <h1 class="display-4 fw-bold text-primary text-center my-4 fs-3" >📢 Ankündigungen und Events
            <small class="text-primary fs-6 fw-normal ms-1" style="font-size: 0.85rem; opacity: 0.7;">/ Оголошення та подїї</small> </h1>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg border-2 rounded-4">
                <div class="card-body p-4">
                    <form method="post">
                        {% csrf_token %}

                            <div class="form-group mb-3">
                                <label class="form-label fw-semibold text-primary">Zimmernummer<small class="text-primary fw-normal ms-1" style="font-size: 0.75rem; opacity: 0.7;">/ Номер кімнати</small></label>
                                    <input type="text" name="room_number" value="{{room_number}}" class="form-control bg_light" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-semibold text-primary">Name<small class="text-primary fw-normal ms-1" style="font-size: 0.75rem; opacity: 0.7;">/ Ім'я</small></label>
                                    <input type="text" name="user_name" value="{{user_name}}" class="form-control bg_light" readonly>
                            </div>


                        <div class="mb-4">
                            <label class="form-label text-primary fw-semibold">Ankündigung<small class="text-primary fw-normal ms-1" style="font-size: 0.75rem; opacity: 0.7;">/ Оголошення</small></label>
                            <textarea name="content" class="form-control" rows="5" placeholder="Ankündigung schreiben...     Напишіть оголошення..." required></textarea>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-warning fw-bold shadow-sm">
                                Veröffentlichen<br><small class="fw-normal opacity-75">Опубліковати</small>
                            </button>
                            <a href="{% url 'portal:main' %}" class="btn btn-outline-primary">Zurück<small class="fw-normal opacity-75"> / Назад</small></a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-7 mx-auto mb-4">
            {% for new in news %}
                <div class="card shadow-sm mb-4 p-2 border-0">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <div>
                                <p class="card-text text-secondary">{{ new.content }}</p>
                            </div>
                            {% if user == new.owner %}
                                <div class="dropdown float-end">
                                    <button class="btn btn-link text-muted p-0 text-decoration-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        &#8942;
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <!-- Кнопка Изменить -->
                                        <li>
                                            <a class="dropdown-item py-2" href="{% url 'portal:edit_new' new.id %}">
                                                <div class="text-success">Anzeige bearbeiten</div>
                                                <small class="text-success d-block opacity-75" style="font-size: 0.75rem;">Редагувати оголошення</small>
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider my-1"></li>
                                        <!-- Кнопка Удалить -->
                                        <li>
                                            <form action="{% url 'portal:delete_new' new.id %}" method="POST" style="margin: 0;">
                                                {% csrf_token %}
                                                <button type="submit" class="dropdown-item py-2 text-danger" onclick="return confirm('Anzeige löschen? / Видалити оголошення?');">
                                                    <div class="fw-bold">Anzeige löschen</div>
                                                    <small class="text-danger d-block opacity-75" style="font-size: 0.75rem;">Видалити оголошення</small>
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <div class="text-muted small">
                                <span class="badge bg-light text-dark">{{ new.owner }}</span>
                                <span class="badge bg-light text-dark">{{ new.data_posted|naturaltime}}</span>
                            </div>

                            <div class="d-flex justify-content-between align-items-center mt-3"></div>

                                <div>
                                     <button type="button" class="btn btn-sm btn-outline-primary"  data-bs-toggle="collapse" data-bs-target="#comments-{{new.id}}">
                                         Kommentare ({{new.announcementcomments_set.count }})
                                     </button>
                                </div>
                        </div>

                            {% if request.GET.open_news_id == new.id|stringformat:'s' %}"
                                <div class="mt-2" id="comments-{{new.id}}">
                            {% else %}
                                <div class="collapse mt-2" id="comments-{{new.id}}">
                            {% endif %}


                                {% for comment in new.announcementcomments_set.all %}
                                    <div class="mb-3 pb-2" id="comment-{{comment.id}}">
                                        <!-- Проверяем, нажали ли мы "Bearbeiten" именно на этот комментарий -->
                                        {% if request.GET.edit_com_id == comment.id|slugify %}
                                             <!-- Форма редактирования, которая отправит данные во views.py -->
                                             <form method="post" action="{% url 'portal:edit_comment' comment.id %}">
                                                  {% csrf_token %}
                                                  <!-- Сама формочка из Django -->
                                                  {% bootstrap_form form_edit_com %}
                                                  <div class="mt-2">
                                                      <button type="submit" class="btn btn-sm btn-primary">Speichern</button>
                                                      <a href="{% url 'portal:news' %}" class="btn btn-sm btn-secondary">Abbrechen</a>
                                                  </div>
                                             </form>

                                        {% else %}
                                            <!-- Если кнопку не нажимали — просто показываем текст как обычно -->
                                            <p class="card-text text-primary">{{ comment.comment }}</p>
                                        {% endif %}
                                        <div class="dropdown float-end">
                                            <button class="btn btn-link text-muted p-0 text-decoration-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                 &#8942;
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                               <!-- Кнопка Изменить -->
                                                <li>
                                                    <a class="dropdown-item" href="?edit_com_id={{ comment.id }}&open_news_id={{new.id}}#comment-{{ comment.id }}">
                                                         <div class="text-success">Kommentar bearbeiten</div>
                                                         <small class="text-success d-block opacity-75" style="font-size: 0.75rem;">Редагувати коментар</small>
                                                    </a>
                                                </li>
                                                <li><hr class="dropdown-divider my-1"></li>
                                                <!-- Кнопка Удалить -->
                                                <li>
                                                    <form action="{% url 'portal:delete_comment' comment.id %}" method="POST" style="margin: 0;">
                                                        {% csrf_token %}
                                                        <button type="submit" class="dropdown-item text-danger" onclick="return confirm('Sein Sie sicher, diese Kommentare löschen?');">
                                                            <div class="text-danger">Kommentar löschen</div>
                                                         <small class="text-danger d-block opacity-75" style="font-size: 0.75rem;">Видалити коментар</small>
                                                        </button>
                                                    </form>

                                                </li>
                                            </ul>
                                        </div>
                                        <span class="badge bg-light text-dark">{{comment.owner}},  {{comment.date_added | naturaltime}}</span>

                                    </div>

                                {% empty %}
                                    <p class="text-muted small">Es gibe keine kommentare bis jetz...<br><small class="fw-normal ms-1" style="font-size: 0.85rem; opacity: 0.75;">Ще немає жодного коментаря...</small></p>
                                {% endfor %}

                                <form action="{% url 'portal:comments' pk=new.id %}"method="post">
                                    {% csrf_token %}
                                    {% bootstrap_form comments_form %}
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <button type="submit" class="btn btn-outline-warning btn-sm ms-2">
                                             Senden<br><small class="fw-normal ms-1" style="font-size: 0.85rem; opacity: 0.75;">Надіслати</small>
                                        </button>

                                        <a href="{% url 'portal:news' %}" class="btn btn-outline-primary btn-sm ms-2">Zurück<br><small class="fw-normal ms-1" style="font-size: 0.85rem; opacity: 0.75;">Назад</small></a>
                                    </div>
                                </form>

                            </div>


                    </div>

               </div>
            {% endfor %}
        </div>
    </div>
</div>

<style>
    body {
        background-color: #e3f2fd !important; /*голубой фон */
    }
    .card {
        transition: transform 0.3s;
        font-style: italic;
    }
    .form-control:focus {
        border-color: #ffc107;
        box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
        font-style: italic;
    .form-label {
        font-style: italic;
    }
    }
</style>
{% endblock %}